body {
  user-select: none;
}

.btn {
  display: inline-flex;
  text-align: center;
  cursor: pointer;
  margin: 30px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 2px 2px 6px;
}

.clicked {
  animation-name: onclick;
  animation-duration: 1s;
}

@keyframes onclick {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
    box-shadow: 5px 5px 5px red, -5px -5px 5px green;
    text-shadow: 5px 5px 5px rgb(0, 0, 255), -5px -5px 5px rgb(157, 0, 255);
  }
  60% {
    transform: scale(0.8);
    box-shadow: 1px 1px 3px red, -1px -1px 3px green;
    text-shadow: 2px 2px 5px rgb(0, 0, 255), -2px -2px 5px rgb(157, 0, 255);
  }
  100% {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px red, -5px -5px 5px green;
    text-shadow: 5px 5px 5px rgb(0, 0, 255), -5px -5px 5px rgb(157, 0, 255);
  }
}

.removed {
  opacity: 0;
  transform: translateX(100%);
}
